$link-class-prefix: 'link' !default;
$a-color: $primary-color !default;
$a-hover-color: $hover-primary-color !default;
$a-transition: color #{$elements-transition-duration} #{$elements-transition-function} !default;
